@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}
h1 {
	margin-top: 2rem;
	clear: both;
}
h2 {
	font-size: 1rem;
	clear: both;
	margin: 0.5rem 1rem -0.5rem 1rem;
}
a {
	color: darkgrey;
}
a:hover {
	color: black;
	text-shadow: 1px 1px 1px grey; 
}
.selectWrapper {
	margin: 1rem;
	float: left;
}
.models {
	width: 45rem;
}
.colors {
	width: 35rem;
}
.stateImg {
	height: 6rem;
	vertical-align: middle;
	padding: 0 1rem;	
}
#generate {
	font-size: 1rem;
	width: 10rem;
	height: 2.5rem;
	margin: 1rem;
	display: block;
	clear: left;
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: 40rem;
}
.select2-container .select2-selection--single {
	height: 7rem;
	padding: 0.5rem;
}
#images > div {
	position: relative;
	top: 0;
	width: 640px;
	height: 360px;
	border: 1px solid gray;
	margin: 1rem;
	float: left;
	overflow: hidden;
}
#images .unten {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
#images .oben {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	mask-image: url('mask0-640.png');
	z-index: 10;
}
a.lnkImage {
	cursor: zoom-in;
}
.lnkImage img {
	width: 640px;
	border: 1px solid gray;
}
.zweifarb .lnkImage img {
	mask-image: url('mask0.png');
}
#image0 { background-image: url('bg0.png'); }
#image1 { background-image: url('bg1.png'); }
#image2 { background-image: url('bg2.png'); }
#image3 { background-image: url('bg3.png'); }
#image4 { background-image: url('bg4.png'); }
#image5 { background-image: url('bg5.png'); }